@import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@300&family=Sono:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Sarabun', sans-serif; */
    font-family: 'Kanit', sans-serif;
}

.container {
    width: 60%;
    margin: auto;
}

.flex {
    display: flex;
    align-items: center;

}

.flex-column{
    display: flex;
    flex-direction: column;
}

.text-center {
    text-align: center
}



body {
    margin: auto;
    background-color: white;
}

.flxed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

/* ------------------------ navbar ---------------------------- */

.navbar-menu{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.navbar {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    align-content: center;
    
}


.navbar ul li {
    list-style-type: none;
    display: inline-block;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 18px 15px;
}




.navbar ul li a:hover {
    color: blue;
    transition: .3s;
    background-color: #e5e5e5;
}

.navbar ul li a:focus {
    color: blue;
    transition: .3s;
    background-color: #e5e5e5;
}



.ms-body {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.span-ms {
    font-size: 35px;
    text-align: center;
}



.ms-bodyDt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.ms-bodyDt .body-box {
    width: 50%;
    text-align: center;
    font-size: 20px;
}

.box-btt {
    margin-top: 30px;
}

.box-btt .btt {
    margin: 5px 5px;
    border-radius: 10px;
    border: none;
    height: 40px;
    width: 220px;
    font-size: 17px;
    color: white;
    background-color: #5313F9;

}

#btt-item {
    background-color: #cf2e2e;
}

.btt:hover {
    color: black;
    background-color: #e5e5e5;
    transition: .3s;
    border: 1px solid #e5e5e5;

}

#btt-item:hover {
    color: black;
    background-color: #e5e5e5;
    transition: .3s;
    border: 1px solid #e5e5e5;

}

/* ------------------------ about ---------------------------- */

.about {
    background-color: #F8F8F8;
    padding: 50px 0;
}

.about-dt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-item {
    font-size: 18px;
    margin-bottom: 25px;
}

.head-about {
    font-size: 20px;
    font-weight: bold;
}

.title {
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
}

.about-ms1-item{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    padding-right: 20px;
}


.ms1-item-dt {
    font-size: 18px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.about-ms2-item {
    margin: 20px 0 50px 0;
    justify-content: center;
    align-items: center;
}
.ms2-logo{
    padding: 0 50px;
}

.ms2-item-dt{
    margin: 10px 0;
    font-size: 18px;
}
#title-strong {
    font-size: 23px;
    text-align: end;
}

/* ------------------------ services ---------------------------- */

.services{
    background-color: #F8F8F8;
    padding: 60px 0;
}

.services-title strong{
    font-size: 28px;
}

.services-title p{
    font-size: 20px;
}

.serveices-item-div {
    margin-top: 50px;
}

.services-item {
    background-color: white;
    border-radius: 10px;
    width: 50%;
    height: 170px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0px 0px 10px gray;
}

.services-icon{
    margin-right: 10px;
}

/* ---------------- folio ------------------------ */

.folio {
    padding: 60px 0;
}

.folio-title strong{
    font-size: 28px;
}

.folio-title span{
    font-size: 18px;
}

.folio-img {
    width: 100%;
    padding: 30px 0;
    justify-content: center;
}

.folio-img-item {
    text-align: center;
}


.folio-img-item img {
    margin: 0 5px;
    height: 180px;
    border-radius: 10px;
}

/* ---------------- ms-soft ------------------------ */

.ms-soft {
    background-color: #F8F8F8;
    padding: 50px 0;
}

.ms-soft-title div {
    margin: 5px 0;
}

.ms-soft-title .ms-strong {
    font-size: 28px;
}
.ms-soft-title span {
    font-size: 18px;
}

.ms-soft-dt{
    margin: 10px 0;
    font-size: 18px;
}


.ms-soft-item-li {
    margin-left: 40px;
    padding: 20px 0;
}

.connect {
    padding: 50px 0;
}

.connect-title strong{
    font-size: 28px;
}

.connect-dt {
    margin: 20px 0;
}

.connect-dt-img {
    margin: 5px;
}

.connect-dt-address {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.connect-margin {
    font-size: 18px;
    margin-bottom: 5%;
}

.dt-address{
    padding: 0 5%;
}

.dt-address ul li span {
    color: #cf2e2e;
    border-bottom: 1px solid #cf2e2e;
}


.footer{
    background-color: rgb(43,47,180);
    color: white;
    padding: 30px 0;
}

.footer-item {
    padding: 0 20px;
    font-size: 18px;
}

.footer-dt {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.menu-list a {
    text-decoration: none;
    color: white;
}

.text-dt {
    font-size: 20px;
    margin-bottom: 10px;
}

.footer-last {
    color: white;
    background-color: rgb(40,44,168);
    padding: 20px;
    font-size: 18px;
}   


/* ----------------- body ------------------------ */
@media screen and (max-width: 768px) {


    .ms-bodyDt {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
    }

    .ms-bodyDt .body-box {
        width: 90%;
    }

    .box-btt .btt {
        margin: 5px 5px;
        border-radius: 10px;
        height: 40px;
        width: 100%;
    }

    .navitem {
        display: none;
    }

    .navbar {
        justify-content: center;
    }
    .about-ms1-item {
        flex-direction: column;
        width: 100%;
    }
    .ms1-item-dt {
        flex-direction: column;
        text-align: center;
    }

    .about-ms2-item {
        flex-direction: column;
        width: 100%;
        
    }
    .ms2-logo{
        padding: 0;
    }

    #title-strong {
        font-size: 23px;
        text-align: start;
    }

    .services-item-row-1 {
        flex-direction: column;
    }
    .services-item-row-2{
        flex-direction: column;
    }
    .services-item {
        width: 100%;
        height: auto;
        flex-direction: column;
        text-align: center;
    }

    .folio-img {
        flex-direction: column;

    }

    .folio-img-item img {
        width: 80%;
        height: auto;
    }

    .ms-soft-dt {
        flex-direction: column;
    }

    .connect-dt {
        flex-direction: column;
    }

    .footer-dt{
        flex-direction: column;
    }
    .footer-item {
        margin-bottom: 20px;
    }
    .text-dt {
        text-align: start;
    }
    .menu-list {
        display: flex;
        flex-direction: column;
    }
    

}

@media screen and (max-width: 1000px) {
    .container {
        width: 90%;
    }
    .about-ms1-item {
        flex-direction: column;
    }

}
